h1 {
  text-align: center;
}
nav {
    height: 50px;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
        
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }
  #logout a:link{
    padding: 25px;
    float: right;
  }
  
  #admin {
    padding: 25px;
  }
  
  nav li a {
    font-size: 1.2rem;
  }